<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="link">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/layui/css/dropdown.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/indexCss.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bs.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/js/adminlte/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/js/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/js/Ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/js/adminlte/css/skins/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{/js/adminlte/css/fonts.googleapis.com.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-confirm.css}">
    <link rel="stylesheet" th:href="@{/css/mc-dialoger.css}"/>
    <link rel="stylesheet" th:href="@{/js/sweetalert2/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{/css/product_list.css}"/>
    <link rel="stylesheet" th:href="@{/css/search_style.css}">


    <script th:src="@{/js/jquery-3.4.1.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/adminlte/js/adminlte.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/twbsPagination/jquery.twbsPagination.min.js}" type="application/javascript"></script>
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/domlastic.js}" type="text/javascript"></script>
    <script th:src="@{/js/distpicker/distpicker.data.js}" type="application/javascript"></script>
    <script th:src="@{/js/distpicker/distpicker.js}" type="application/javascript"></script>
    <script th:src="@{/js/distpicker/main.js}" type="application/javascript"></script>
    <script th:src="@{/js/jquery-confirm.js}" type="text/javascript"></script>
    <script th:src="@{/js/validate/jquery.validate.js}" type="text/javascript"></script>
    <script th:src="@{/js/sweetalert2/sweetalert2.min.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/js/dialoger.js}"></script>
</div>
</body>
</html>