<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/layui/css/dropdown.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/indexCss.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/checkBookTest2.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/checkBookTest.css}">

    <script th:src="@{/js/jquery-3.4.1.min.js}" type="application/javascript"></script>
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/loginSession.js}" type="text/javascript"></script>
    <!--    <script th:src="@{/js/addShopCart.js}" type="application/javascript"></script>-->


</head>
<body>
<div id="nav_checkBook">
    <div th:insert="~{navigation ::nav}"></div>
</div>
<div id="bg_checkBook">
    <div id="breadcrumb" class="breadcrumb"></div>
    <div class="bookMsg_main">
        <div class="bookPic_info">

            <div class="bookPicDiv" id="bookPicDiv">
                <a href="#" class="bookPic_url">
                    <img id="bigBookPic" class="bookPic" th:src="${imgurls_1[0]}" alt="">
                </a>
            </div>
            <div class="dp_slide layui-carousel" id="imgSlide">
                <button th:if="${imgCount>5}" id="PicPre" class="layui-icon layui-carousel-arrow" lay-type="sub">
                </button>
                <div class="dp_slide_box" id="booKPic_slide" carousel-item>
                    <div>
                        <ul class="bookPic_slide_ul">
                            <li><a class="img_a" href="#"><img class="smallBookPic" th:src="${imgurls_1[0]}" alt=""></a>
                            </li>
                            <li th:if="${imgCount>1}"><a class="img_a" href="#"><img class="smallBookPic"
                                                                                     th:src="${imgurls_1[1]}"
                                                                                     alt=""></a></li>
                            <li th:if="${imgCount>2}"><a class="img_a" href="#"><img class="smallBookPic"
                                                                                     th:src="${imgurls_1[2]}"
                                                                                     alt=""></a></li>
                            <li th:if="${imgCount>3}"><a class="img_a" href="#"><img class="smallBookPic"
                                                                                     th:src="${imgurls_1[3]}"
                                                                                     alt=""></a></li>
                            <li th:if="${imgCount>4}"><a class="img_a" href="#"><img class="smallBookPic"
                                                                                     th:src="${imgurls_1[4]}"
                                                                                     alt=""></a></li>
                        </ul>
                    </div>
                    <div th:if="${imgCount>5}">
                        <ul class="bookPic_slide_ul">
                            <li th:if="${imgCount>5}"><a class="img_a" href="#"><img class="smallBookPic"
                                                                                     th:src="${imgurls_2[0]}"
                                                                                     alt=""></a></li>
                            <li th:if="${imgCount>6}"><a class="img_a" href="#"><img class="smallBookPic"
                                                                                     th:src="${imgurls_2[1]}"
                                                                                     alt=""></a></li>
                            <li th:if="${imgCount>7}"><a class="img_a" href="#"><img class="smallBookPic"
                                                                                     th:src="${imgurls_2[2]}"
                                                                                     alt=""></a></li>
                            <li th:if="${imgCount>8}"><a class="img_a" href="#"><img class="smallBookPic"
                                                                                     th:src="${imgurls_2[3]}"
                                                                                     alt=""></a></li>
                            <li th:if="${imgCount>9}"><a class="img_a" href="#"><img class="smallBookPic"
                                                                                     th:src="${imgurls_2[4]}"
                                                                                     alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <button th:if="${imgCount>5}" id="PicNext" class="layui-icon layui-carousel-arrow" lay-type="add">
                </button>
            </div>
        </div>
        <!--总出售区-->
        <div class="show_info">
            <!--大出售区-->
            <div class="sale_box clearfix">
                <!--左出售区-->
                <div class="sale_box_left">
                    <!--书的标题描述-->
                    <div class="name_info">
                        <h1 id="bookName" th:text="${session.bookMsgDTO.bookName}"></h1>
                        <h2>
                            <span class="book_desc" th:text="${session.bookMsgDTO.bookDescription}"></span>
                        </h2>
                    </div>
                    <!--                    书的作者信息区-->
                    <div class="messbox_info">
                        <span>作者：<a href="#" th:text="${session.bookMsgDTO.author}"></a></span>
                        <span>出版社：<a href="#" th:text="${session.bookMsgDTO.press}"></a></span>
                        <span>发行日期：<a style="display: inline-block" href="#"><span id="publish-date"
                                                                                   th:text="${#dates.format(session.bookMsgDTO.releaseDate,'yyyy-MM-dd HH:mm')}"></span></a></span>
                        <span></span>
                    </div>
                    <!--价格区-->
                    <div id="price-area" class="price_info clearfix">
                        <div class="price_pc">
                            <div style="width: 206px;height: 64px;">
                                <div class="price_d">
                                    <p class="price_title">
                                        <span id="price_title_text">书城特价</span>
                                        <a href="#" class="price_down_remind score write_comment">降价通知</a>
                                    </p>
                                    <p id="book_SpecialPrice">
                                        <span class="yuan">¥</span>
                                        20.00
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    书籍关联区-->
                    <div class="cuxiao_info choose_xilie clearfix">
                        <div class="left">关联商品</div>
                        <div class="right">
                            <div class="clearfix">
                                <ul class="list_e">
                                    <li>
                                        <a class="btn btn-default  jia_gou_e chosen" href="#">
                                            <img class="small_pic_1" th:src="${imgurls_1[0]}" alt="">
                                            <span th:text="${session.bookMsgDTO.bookName}"></span>
                                        </a>
                                        <a class="btn btn-default  jia_gou_e chosen" href="#">
                                            <img class="small_pic_1" th:src="${imgurls_1[0]}" alt="">
                                            <span th:text="${session.bookMsgDTO.bookName}"></span>
                                        </a>
                                        <a class="btn btn-default  jia_gou_e chosen" href="#">
                                            <img class="small_pic_1" th:src="${imgurls_1[0]}" alt="">
                                            <span th:text="${session.bookMsgDTO.bookName}"></span>
                                        </a>
                                        <a class="btn btn-default  jia_gou_e chosen" href="#">
                                            <img class="small_pic_1" th:src="${imgurls_1[0]}" alt="">
                                            <span th:text="${session.bookMsgDTO.bookName}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--                    购买按钮区-->
                    <div class="buy-btn-area">
                        <div class="">
                            <a  th:href="'/order/infoByBuy?bookId='+${session.bookMsgDTO.bookId}"
                               class="layui-btn buy-btn">
                                <i class="layui-icon layui-icon-ok" style="font-size: 30px; color: #5FB878;"></i>
                                <i style="color: whitesmoke">购买</i>
                            </a>
                        </div>
                        <div class="addCartDiv">
                            <button class="layui-btn layui-btn-warm buy-btn" id="buy_btn" th:onclick="add()">
                                <i class="layui-icon layui-icon-cart-simple"
                                   style="font-size: 30px; color: #1E9FFF;"></i>
                                加入购物车
                            </button>
                        </div>
                    </div>
                    <!--                    加入购物车成功提示-->
                    <div id="addCartSuccess" style="margin: 0 auto" class="modal fade bs-example-modal-sm addBtn"
                         data-backdrop="false" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-sm" style="margin-top: 20%" role="document">
                            <div id="addSuccessModal" style="margin: 0 auto" class=" modal-content">
                                <span class="addSuccess glyphicon glyphicon-ok"
                                      style="color: limegreen; background-color: rgba(0,0,0,0);"></span>
                            </div>
                        </div>
                    </div>

                    <div id="addCartFail" style="margin: 0 auto" class="modal fade bs-example-modal-sm addBtn"
                         data-backdrop="false" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-sm" style="margin-top: 20%" role="document">
                            <div id="addFailModal" style="margin: 0 auto" class=" modal-content">
                                <span class="addSuccess glyphicon glyphicon-remove"
                                      style="color: limegreen; background-color: rgba(0,0,0,0);"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/layui/dropdown.js}" type="text/javascript"></script>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script>
    //Demo
    layui.use(['form', 'element', 'carousel', 'layedit', 'laydate'], function () {
        var form = layui.form
            , element = layui.element
            , carousel = layui.carousel
            , $$ = layui.jquery
            , layer = layui.layer;
        carousel.render({
            elem: '#imgSlide'
            , width: '320px' //设置容器宽度
            , height: '56px'
            , arrow: 'always' //始终显示箭头
            , autoplay: false
            //,anim: 'updown' //切换动画方式
        });
        //监听提交
        form.on('submit(login)', function (data) {
            return false;
        });
    });

    $(".smallBookPic").mouseenter(function () {
        $("#bigBookPic").attr("src", this.src);
    })
    // $("body").ready(function () {
    //     $.post("/books/imgs",function () {
    //         alert("111")
    //     })
    // })
    $("#bookPicDiv").ready(function () {
        if ($(".smallBookPic")[1].src == "unkoown") {
            alert("111")
        }
    })

    function dianji(thisParameter) {
        $(".jia_gou_e").css("background-color", "white")//清空颜色
        $(thisParameter).css("background-color", "black")//再添加颜色
    }

    $("body").ready(function () {
        var text = $("#bookName").text();
        $.post("/books/selectBook", {bookName: text}, function (data) {
            var similarBook = data;
            for (var i = 0; i <= similarBook.length; i++) {
                var pic = similarBook[i].imgUrl.split("~");
                var bookA = "<a  onclick='dianji(this)' id='bookNum" + i + "' class='btn btn-default jia_gou_e chosen' href='#'><img class='small_pic_1' src='" + pic[0] + "' alt='' ><span>" + similarBook[i].bookName + "</span></a>"
                $("#similarBookLi").append(bookA);
            }

        })
    });

    function add() {
        var username = $("#login_username").text();
        var bookId = getUrlParam("bookId");
        $.ajax({
            url: "/books/shopCart/add",
            type: "POST",
            data: {username: username, bookId: bookId},
            dataType: "json",
            success: function (data) {
                $("#addCartSuccess").modal("show");
                setTimeout(function () {
                    $("#addCartSuccess").modal("hide");
                }, 1000);
            },
            error: function () {
                $("#addCartFail").modal("show");
                setTimeout(function () {
                    $("#addCartFail").modal("hide");
                    window.location.href = "/user/login";
                }, 1000);

            }
        })
    }

    // function submitOrder(bookId) {
    //     alert(bookId)
    //     $.ajax({
    //         method: "post",
    //         url: "/order/details",
    //         data: {bookIdStr: bookId},
    //         dataType: "json",
    //         success: function (data) {
    //             window.location.href = "/order/info";
    //         }
    //     });
    // }

    //获取url的请求参数
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
    }

</script>
</body>
</html>