<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/layui/css/dropdown.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/indexCss.css">

    <script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/loginSession.js" type="text/javascript"></script>


</head>
<body>
<div id="bd_auto">
    <div th:insert="~{navigation ::nav}"></div>
    <!--轮播图-->
    <div id="slideshowDiv" class="layui-carousel">
        <div id="imageDiv" carousel-item>
            <div><img src="images/dd1.jpg"></div>
            <div><img src="images/dd2.jpg"></div>
            <div><img src="images/dd3.jpg"></div>
            <div><img src="images/dd4.jpg"></div>
            <div><img src="images/dd5.jpg"></div>
            <div><img src="images/dd6.jpg"></div>
            <div><img src="images/dd7.jpg"></div>
            <div><img src="images/dd8.jpg"></div>
            <div><img src="images/dd9.jpg"></div>
            <div><img src="images/dd10.jpg"></div>
        </div>
    </div>
    <div class="layui-tab">
        <ul id="classifyHead" class="layui-tab-title">
            <li id="tab1" class="layui-this">主打</li>
            <li id="tab2">小说</li>
            <li id="tab3">文艺</li>
            <li id="tab4">社会科学</li>
            <li id="tab5">生活</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <ul id="tab1_bookClassify">
                </ul>
            </div>
            <div class="layui-tab-item">
                <ul id="tab2_bookClassify">
                </ul>
            </div>
            <div class="layui-tab-item">
                <ul id="tab3_bookClassify">

                </ul>
            </div>
            <div class="layui-tab-item">
                <ul id="tab4_bookClassify">
                </ul>
            </div>
            <div class="layui-tab-item">
                <ul id="tab5_bookClassify">
                </ul>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/layui/dropdown.js}" type="text/javascript"></script>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element', 'carousel','layedit', 'laydate'], function () {
        var element = layui.element
            , carousel = layui.carousel
            , $ = layui.jquery
            ,layer = layui.layer;


        // $("#logoutBtn").click(function () {
        //         layer.open({
        //             type: 1,
        //             content: '传入任意的文本或html' //这里content是一个普通的String
        //         });
        //
        // })


        $(".layui-tab-title li").hover(function () {
            var $i = $(this).index();
            $(this).addClass("layui-this").siblings().removeClass("layui-this");
            $(".layui-tab-content .layui-tab-item").eq($i).addClass("layui-show").siblings().removeClass("layui-show");
        });

        carousel.render({
            elem: '#slideshowDiv'
            , width: '60%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            , anim: 'default' //切换动画方式
        });
        //…
    });
    //请求书的图片
    $("#tab1").ready(function () {
        var typeId = 1;
        $.ajax({
            type: "get",
            url: "tab_selectBook",
            data: {typeId: typeId},
            dataType: "json",
            success: function (data) {

                for (var i = 0; i < data.length; i++) {
                    var bookP = "<p class='bookName'><a style='height: 25px' href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"'>" + data[i].bookName + "</a></p><p class='bookPrice'>" +
                        "<span class='rob'>" +
                        "<span>¥</span>" +
                        "<span>"+data[i].bookPrice+"</span>" +
                        "<span>.00<span>" +
                        "</span>" +
                        "</p>";
                    var imgurl=data[i].imgUrl.split("~");
                    var bookLi = "<li> <a href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"'> <img src='" + imgurl[0]+ "' alt=''></a>" + bookP + "</li>";
                    $("#tab1_bookClassify").append(bookLi);
                }
            }
        });
    });
    $("#tab2").ready(function () {
        var typeId = 2;
        $.ajax({
            type: "get",
            url: "tab_selectBook",
            data: {typeId: typeId},
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var bookP = "<p class='bookName'><a style='height: 25px' href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"'>" + data[i].bookName + "</a></p><p class='bookPrice'>" +
                        "<span class='rob'>" +
                        "<span>¥</span>" +
                        "<span>"+data[i].bookPrice+"</span>" +
                        "<span>.00<span>" +
                        "</span>" +
                        "</p>";
                    var imgurl=data[i].imgUrl.split("~");
                    var bookLi = "<li> <a href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"'> <img src='" + imgurl[0] + "' alt=''></a>" + bookP + "</li>";
                    $("#tab2_bookClassify").append(bookLi);
                }
            }
        });
    });
    $("#tab3").ready(function () {
        var typeId = 3;
        $.ajax({
            type: "get",
            url: "tab_selectBook",
            data: {typeId: typeId},
            dataType: "json",
            success: function (data) {

                for (var i = 0; i < data.length; i++) {
                    var bookP = "<p class='bookName'><a style='height: 25px' href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"'>" + data[i].bookName + "</a></p><p class='bookPrice'>" +
                        "<span class='rob'>" +
                        "<span>¥</span>" +
                        "<span>"+data[i].bookPrice+"</span>" +
                        "<span>.00<span>" +
                        "</span>" +
                        "</p>";
                    var imgurl=data[i].imgUrl.split("~");
                    var bookLi = "<li> <a href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"'> <img src='" + imgurl[0] + "' alt=''></a>" + bookP + "</li>";
                    $("#tab3_bookClassify").append(bookLi);
                }
            }
        });
    });
    $("#tab4").ready(function () {
        var typeId = 4;
        $.ajax({
            type: "get",
            url: "tab_selectBook",
            data: {typeId: typeId},
            dataType: "json",
            success: function (data) {

                for (var i = 0; i < data.length; i++) {
                    var bookP = "<p class='bookName'><a href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"' style='height: 25px'>" + data[i].bookName + "</a></p><p class='bookPrice'>" +
                        "<span class='rob'>" +
                        "<span>¥</span>" +
                        "<span>"+data[i].bookPrice+"</span>" +
                        "<span>.00<span>" +
                        "</span>" +
                        "</p>";
                    var imgurl=data[i].imgUrl.split("~");
                    var bookLi = "<li> <a href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"'> <img src='" + imgurl[0] + "' alt=''></a>" + bookP + "</li>";
                    $("#tab4_bookClassify").append(bookLi);
                }
            }
        });
    });
    $("#tab5").ready(function () {
        var typeId = 5;
        $.ajax({
            type: "get",
            url: "tab_selectBook",
            data: {typeId: typeId},
            dataType: "json",
            success: function (data) {

                for (var i = 0; i < data.length; i++) {

                    var bookP = "<p class='bookName'><a href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"' style='height: 25px '>" + data[i].bookName + "</a></p><p class='bookPrice'>" +
                        "<span class='rob'>" +
                        "<span>¥</span>" +
                        "<span>"+data[i].bookPrice+"</span>" +
                        "<span>.00<span>" +
                        "</span>" +
                        "</p>";
                    var imgurl=data[i].imgUrl.split("~");
                    var bookLi = "<li> <a href='/books?typeId="+data[i].typeId+"&bookId="+data[i].bookId+"'> <img src='" + imgurl[0] + "' alt=''></a>" + bookP + "</li>";
                    $("#tab5_bookClassify").append(bookLi);
                }
            }
        });
    });

</script>
</body>
</html>