<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/login.css">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">


    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/jquerySession.js" type="text/javascript"></script>
</head>
<body style="background-image: url('/images/loginbg2.jpg');background-size: 1536px 768px;">
<div id="login_DivMax">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item "><a href="/">Haid-BookShop</a></li>
<!--        主页-->
        <li class="layui-nav-item navbar-right">
            <a href="/">
                <i class="layui-icon layui-icon-home" style="font-size: 30px; color: #1E9FFF;"></i>
            </a>
        </li>
    </ul>
    <!--    登录框-->
    <div id="login_DivMin" class="m-login-warp">
        <form class="layui-form" th:action="@{/user/login}" method="post">
            <div id="userNameDiv" class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon layui-icon-username"
                                                   style="font-size: 30px; color: #1E9FFF;"></i></label>
                <div>
                    <input type="text" name="username" required lay-verify="required" placeholder="请输入标题"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div id="passWordDiv" class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon layui-icon-password"
                                                   style="font-size: 30px; color: #1E9FFF;"></i></label>
                <div>
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div id="loginBtnDiv" class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" lay-submit lay-filter="login">立即提交</button>
                </div>
            </div>
        </form>

        <script th:src="@{/layui/layui.all.js}" type="text/javascript"></script>
        <script>
            //Demo
            layui.use(['form', 'element', 'carousel', 'layedit', 'laydate'], function () {
                var form = layui.form
                    , element = layui.element
                    , carousel = layui.carousel
                    , $$ = layui.jquery
                    , layer = layui.layer;


                //监听提交
                // form.on('submit(login)', function (data) {
                //     $$.ajax({
                //         type: "post",
                //         url: "/user/login/checkUser",
                //         data: data.field,
                //         dataType: "json",
                //         success: function (result) {
                //             if (result != null) {
                //                 sessionStorage.setItem('user',result);
                //                 window.location.href = "/";
                //
                //             }else{
                //                 layer.msg("登录失败");
                //             }
                //
                //         }
                //     });
                //     return false;
                // });
            });



        </script>

    </div>
</div>


</body>
</html>