<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="nav">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item "><a href="/">Haid-BookShop</a></li>
        <!--        登录-->
        <li class="layui-nav-item navbar-right nav_hover">
            <!--            判断是否登录过 如果登录过则将导航栏的用户图标改为用户名-->
            <a th:if="${session.user==null}" href="/user/login">
                <i class="layui-icon layui-icon-user" style="font-size: 30px; color: #1E9FFF;"></i>
            </a>
            <span class=" dropdown-toggle" id="dropdown-user" th:if="${session.user!=null}" href="#" style="padding: 0 20px"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">
                    <span th:text="${session.user.name}" style="font-size: 19px"></span>
                </i>
                <i class="layui-icon layui-icon-triangle-d" style="font-size: 15px; color: #1E9FFF;"></i>
            </span>
            <ul id="dropdown-menu" class="dropdown-menu">
                <li><a href="/user/information"><i class="layui-icon layui-icon-user" style="font-size: 30px; color: #1E9FFF;"></i><span>个人信息</span></a></li>
                <li><a href="#"><i class="layui-icon layui-icon-notice" style="font-size: 30px; color: #1E9FFF;"></i><span>通知</span></a></li>
                <li><a href="#"><i class="layui-icon layui-icon-set" style="font-size: 30px; color: #1E9FFF;"></i><span>设置</span></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="layui-icon layui-icon-logout" style="font-size: 30px; color: #1E9FFF;"></i><span>设置</span></a></li>
            </ul>
        </li>

        <!--        购物车-->
        <li class="layui-nav-item navbar-right nav_hover">
            <a th:if="${session.user==null}" href="/user/login">
                <i class="layui-icon layui-icon-cart-simple" style="font-size: 30px; color: #1E9FFF;"></i>
            </a>
            <a th:if="${session.user!=null}" href="#">
                <i class="layui-icon layui-icon-cart-simple" style="font-size: 30px; color: #1E9FFF;"></i>
            </a>
        </li>
        <!--        主页-->
        <li class="layui-nav-item navbar-right nav_hover">
            <a href="/">
                <i class="layui-icon layui-icon-home" style="font-size: 30px; color: #1E9FFF;"></i>
            </a>
        </li>
    </ul>
</div>
<script th:src="@{/layui/dropdown.js}" type="text/javascript"></script>
<script>
    layui.use(['dropdown'], function () {
        var dropdown = layui.dropdown;
        dropdown.onFilter('test1', function (event) {

        })
    });
</script>
</body>
</html>